.container {
    margin-top: 5vh;
}

* {
    padding: 0;
    margin: 0;
}

/* Hithe the scroll bar */
body::-webkit-scrollbar {
    width: 0;
}


.page {
    display: none;
    color: white;

}

.page.active {
    display: block;
}

main {
    width: 100vw;
    height: 100vh;
    /*background-color: #0F1640;*/

    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Pages stuff */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: 100vh;

}


footer {
    width: 100vw;
    height: 10vh;
}


/*? Custom ones */

option {
    background: transparent;
    color: rgb(0, 0, 0);
}

/*? Custom Modifyers */

.max-width-49 {
    max-width: 49%;
}

/* Custom CSS for the transparent table */
.table-transparent {
    background-color: transparent;
    color: yellow;
}

.thead-transparent {
    background-color: transparent;
}


table.table-KiaTse {
    width: 80vw;
    height: 50vh;
    border-radius: 15px;
    overflow: hidden;
}

img {
    height: 12vh;
}

.hexagram-container {
    height: 70vh; width: 80vw; 

    border-radius: 15px;
}

p {
    color: black;
}