.container {
    margin-top: 5vh;
}

form {
    margin-top: 5vh;
}

* {
    padding: 0;
    margin: 0;
    color: white;
}

/* Hithe the scroll bar */
body::-webkit-scrollbar {
    width: 0;
}


.page {
    display: none;

}

.page.active {
    display: block;
}

main {
    width: 100vw;
    height: 100vh;
    /*background-color: #0F1640;*/

    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Pages stuff */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: 100vh;

}


footer {
    width: 100vw;
    height: 10vh;
}


/*? Custom ones */

#countryhelp {
    color: white;
}

option {
    background: transparent;
    color: rgb(0, 0, 0);
}

/*? Custom Modifyers */

.max-width-49 {
    max-width: 49%;
}

/* Custom CSS for the transparent table */
.table-transparent {
    background-color: transparent;
    color: yellow;
}

.thead-transparent {
    background-color: transparent;
}